{{ define "main" }}
<div class="row gy-4">
  <div class="col-12 col-lg-8">
    <h2>Latest Posts</h2>
    {{ range first 5 .Site.RegularPages }}
    <div class="card mb-3">
      <div class="card-body">
        <h3 class="h5"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <p class="card-text small text-muted">
          {{ .Date.Format "Jan 2, 2006" }}
        </p>
        <p class="card-text">{{ .Summary }}</p>
      </div>
    </div>
    {{ end }}
  </div>

  <aside class="col-12 col-lg-4">
    <div class="sticky-top" style="top: 1rem">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">About</h5>
          <p class="card-text">{{ .Site.Params.description }}</p>
        </div>
      </div>
    </div>
  </aside>
</div>
{{ end }}
